* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f4f6;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #1e3a8a;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-buttons .btn {
    text-decoration: none;
    padding: 8px 15px;
    margin-left: 10px;
    background: white;
    color: #1e3a8a;
    border-radius: 5px;
    font-weight: bold;
}

.register {
    background: #f97316;
    color: white;
}

/* Hero */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
    font-size: 16px;
}

.start-btn {
    background: #f97316;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.form-container {
    width: 300px;
    margin: 80px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background: #1e3a8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background: #f97316;
}


/*register*/

.form-container select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}


/* Dashboard  */

.dash-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #1e3a8a;
    color: white;
}

.logout-btn {
    padding: 6px 12px;
    background: #f97316;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.dash-card {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.dash-card button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #1e3a8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* quiz */

.quiz-container {
    max-width: 500px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-btn {
    padding: 10px;
    border: none;
    background: #d1d5df;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.option-btn:hover {
    background: #f97316;
}

.form-container,
#adminPanel {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ed1111;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    border-color: #2a5298;
    outline: none;
    box-shadow: 0 0 5px rgba(42, 82, 152, 0.4);
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background-color: #2a5298;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
}

select:focus {
    border-color: #2a5298;
    outline: none;
    box-shadow: 0 0 5px rgba(42, 82, 152, 0.4);
}

a {
    padding: 8px 4px;
    display: inline-block;
}
